.Profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile div {
    padding: 0 25px 0 25px;
    border: 1px solid black;
}

.Profile div a {
  text-decoration: none;
}






